**/__pycache__/
**/.ipynb_checkpoints/
*DQN*/**
figures/**
SAC/**
models/**
experiments/models/**
**/game_states/**.png
/experiments/neural_net_size/data_DoubleDQN_512_1500.csv
/experiments/neural_net_size/evaluations_DoubleDQN_512.csv
